<div class="">
  <table class="table">
    <thead>
      <th></th>
      <th>Total Responses</th>
      <th>Complete Responses</th>
      <th>Incomplete Responses</th>
      <th>Conversion Rate</th>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td><%= data['stats']['responses']['total'] %></td>
        <td><%= data['stats']['responses']['completed'] %></td>
        <td><%= data['stats']['responses']['total'].to_i-data['stats']['responses']['completed'].to_i %></td>
        <td><span class="badge"><%= conversion_rate %>%</span></td>
      </tr>
    </tbody>
  </table>

  <h2>Metrics</h2>
  <ul>
    <li>Total number of questions: <span class="badge"><%= questions.length-1 %></span></li>
    <li>Required questions: <span class="badge"><%= required_questions %></span></li>
    <li><strong>User flow complexity</strong>: <span class="badge"><%= user_flow %></span><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Required questions constrain the user and lead to lower conversions. This metric measures the user flow disruption based on the total number of “required” questions compared to the total number of questions.">What is this?</button></li>
    <li><strong>Form Complexity</strong>: <span class="badge"><%= questions['complexity'] %></span><button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="The survey complexity score factors in the approximated difficulty for the user to complete a given question type.  For example, a “yes / no” question would have a “lower complexity score” as compared to a “list ranking” where the user has to choose an order for a set of given elements.">What is this?</button></li>
  </ul>
  
  <hr/>
  
  <h2>Questions</h2>
  <ol>
    <% questions.except('complexity').each do |key,value| %>
      <li><%= value[:question] %> (<%= value[:responses] %>)</li>
    <% end %>
  </ol>

  <h2>Incomplete Responses</h2>
  <ul>
    <% drop_off.each do |key,value| %>
      <%= value %> people dropped off at question "<%= questions[key][:question] %>" :(
    <% end %>
    <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="The drop off questions show where your users dropped off when they incompletely filled out your survey.">What is this?</button>
  </ul>
</div>
<%# incomplete_data %>

<script>
  $('.btn.btn-default').tooltip();
</script>
