<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="#">About</a></li>
      </ul>
    </nav>
    <h3 class="text-muted">Typestorm</h3>
  </div>

  <div class="jumbotron">
    <p>DISCLAIMER: This is very buggy and highly WIP</p>
    <h1>Ugly A/B testing for Typeforms</h1>
    <p class="lead">Simply enter two Typeform URLs and we'll tell you which one has performed the best</p>
    <%= form_tag analyze_path, class: 'form-horizontal' do %>
      <div class="form-group">
        <%= label_tag "version_a", "Version A", class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= text_field_tag "url1", "https://cmceezee.typeform.com/to/YuMcpa", placeholder: 'Typeform URL of Version A', class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag "version_b", "Version B", class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= text_field_tag "url2", "https://cmceezee.typeform.com/to/WEgewX", placeholder: 'Typeform URL of Version B', class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-4 col-md-offset-2">
          <%= submit_tag "Try our example Typeforms", class: "btn btn-primary" %>
        </div>
      </div>
      <p>
        Small note: This A/B analysis platform is built with the Typeform Data API. Our current version only works with above URLs because we have hard-coded the Typeform API key. We have tested our implementation with a few different Typeforms though, and the results are promising. Contact us for more A/B testing joy!
      </p>
    <% end %>
  </div>

  <div class="row marketing">
    <h3 style="margin-left: 20px;">Typestorm Benefits</h3>
    <div class="col-lg-6">
      <h4><span class="label label-success">Survey Complexity</span></h4>
      <p>The survey complexity score factors in the approximated difficulty for the user to complete a given question type.  For example, a “yes / no” question would have a “lower complexity score” as compared to “providing an e-mail” where the user has to manually type a formatted response.</p>

      <h4><span class="label label-success">Smart Scoring</span></h4>
      <p>Using a combination of both the Typeform metrics and the user experience, “Smart Scores” are generated for both the A and B tests, providing the Typeform author(s) the information needed to make quick decisions on converting Typeforms.</p>
    </div>

    <div class="col-lg-6">
      <h4><span class="label label-success">User Flow Complexity</span></h4>
      <p>Required questions constrain the user and lead to lower conversions. This metric measures the user flow disruption based on the total number of “required” questions compared to the total number of questions.</p>

      <h4><span class="label label-success">Expert Recommendations</span></h4>
      <p>Based on the analytics data from the A/B Typeform test, Typestorm provides key insights and actionable recommendations to improve both your current and future Typeforms.</p>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; Built by Chris and Philip at the awesome Typeform hackathon 2014</p>
  </footer>

</div> <!-- /container -->
